header {
  background-color: var(--bs-blue);
  color: white;
  padding: 0 20px;
}

img {
  cursor: pointer;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: right;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.ellipse {
  width: 5px;
  height: 5px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
