select {
  height: 50px;
  margin: 5px 0 0 0;
  border: none;
  padding: 14px;
  background-color: var(--bs-gray);
  width: 100%;
  border-radius: 3px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
}

select::-ms-expand {
  display: none;
}

select:focus {
  outline: none;
}
