.footer {
  background-color: #0a0a3c;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
